<h1>My Beautiful Family</h1>
<h2>Hello My Darling</h2>
<p>You are a beautiful angel and the most perfect woman I could ever hope for.</p>
<%= image_tag "chris_and_saly.jpg", height: 300 %>
<h2>My darling and my son</h2>
<p>I love you both more than I could ever let you know. I adore you both. I love you and miss you every second. Everything I do is for both of you.</p>
<%= image_tag "saly_and_floop.jpg", height: 500 %>
<h2>Our Little Floop</h2>
<p>The most precious beautiful angel on earth</p>

<table>
  <tr>
    <td>
      <%= image_tag "floop_sitting.jpg", height: 300%>
      <figcaption>Floopy Sitting</figcaption>
    </td>
    <td>
      <%= image_tag "floop_bathing.jpg", height: 300%>
      <figcaption>Floop Bathing</figcaption>
    </td>
    <td>
      <%= image_tag "floop_waking_up.jpg", height: 300%>
      <figcaption>Floop Waking Up</figcaption>
    </td>
  </tr>
    <td>
      <%= image_tag "floop_on_the_stairs.jpg", height: 300%>
      <figcaption>Floop On The Stairs</figcaption>
    </td>
    <td>
      <%= image_tag "floop_in_a_hat_1.jpg", height: 300%>
      <figcaption>Floop In A Hat!</figcaption>
    </td>
    <td>
      <%= image_tag "floop_in_a_hat_2.jpg", height: 300%>
      <figcaption>Floop In Another Hat!</figcaption>
    </td>
</table>
			